body{
    background: #18BC9C;
}

.home{
    height: 100%;
    
}

.contain_index{
    display: inline-block;
    float: left;
    width: 55%;
    padding: 30px;
    height: auto;
    margin-right: auto;
}

.srcResults{
    width: 100%;
    height:auto;
}

.contain_reg{
    display: inline-block;
    float: left;
    width: 35%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 50px 20px 20px 20px;
    border-radius: 5px;
    background: white;
    border: 1px solid #808080;
    min-width: 200px;
}

.contain_main{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.contain{
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 50px;
    border-radius: 5px;
    background: white;
    border: 1px solid #808080;
}

.bg_index {
    height: 100%;
    width: 100%;
    background: #18BC9C;
}

textarea{
    resize: none;
}
#right{
    text-align: right;
}
.containTask{
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

img.profile{
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    margin-left: 50px;
    border: 3px solid #18BC9C;
}


img.logo{
    width: 100px;
    height: 55px;
    margin-right: auto;
    margin-left: auto;
}

img.add_person{
    margin-right: 20px;
}

img.add{
    margin-right: 15px;
}

#profile_background{
    width: 100%;
    height: 500px;
    margin-right: auto;
    margin-left: auto; 
}

#profile_dash{
    width: 70%;
    height: 500px;
    display: inline-block;
    
}
#profile_contain{
    width: 200px;
    height: 500px;
    margin-right: 1%;
    float: left;
}

.mainContain{
    width: 100%;
    height: 500px;
    
}

.friend_search{
    width: 100%;
    margin: 10px 0;
}

.friends{
    width: 100%;
    height: 300px;
    margin-top: 10px;
}

#edit_contain{
    width: 60%;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.inner_center{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.input{
    width: 50%;
    border-radius: 100px;
    border-style:solid;
    padding-left: 10px;
    color: #2C3E50;
}

.input2{
    width: 100%;
    border-radius: 100px;
    border:none;
    padding-left: 10px;
    color: #2C3E50;
}

#dashboard{
    width: 40%;
    height: 550px;
    background: white;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #808080;
    overflow-y: auto;
    overflow-x: hidden;
}

#calendar{
    width: 55%;
    height: 550px;
    display: inline-block;
    float: right;
    border-radius: 5px;
    border: 1px solid #808080;
    background: white;
}

#date{
    width: auto;
    height: 30px;
    margin-left: 5px;
    margin-right: 10px;
    display: inline-block;
}

#time{
    width: auto;
    height: 30px;
    margin-left: 5px;
    display: inline-block;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.sidenav {
    height: 80%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10%;
    right: 0;
    color: white;
    background: #2C3E50;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.links{
    font-weight: bold;
}

.upcomingTasks{
    width: 90%;
    margin: 3px 0 3px 5%;
    height: auto;
    border-bottom: 1px solid #DCDCDC;
}

.upcomingHead{
    width: 100%;
    height: 32px;
}

.upcomingDetails{
    width: 100%
}

@media only screen and (max-width: 400px) {
  .header {
    .menu {
      max-height: 0;
      overflow: hidden;
      float: none;
      text-align: center;
      width: 100%;
      @include transition(max-height 0.5s);
      &.menuOpen {
        max-height: 1000px;
        @include transition(max-height 0.5s);
      }
    ul {
      li {
        display: block;
        width: 100%;
        background: #000;
        border-top:1px solid #4d4d4d;
        &:hover {
          background: #999;
        }
        a {
          color: #fff;
          text-shadow: #848484 0px 1px 2px;
          padding: 10px 0;
          width: 100%;
          }
        }
      }
    }
    .menuIcon {
      display: inline-block;
    }
  }
}