body{
    
}

.home{
    height: 100%;
    background: #18BC9C;
}

.contain_index{
    //text-align: center;
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 50px;
}

.contain{
    //text-align: center;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 50px;
    border-radius: 5px;
}

textarea{
    resize: none;
}
#right{
    text-align: right;
}
.containTask{
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

img{
    width: 100%;
    height: 100%;
}

img.logo{
    
    width: 300px;
    height: 165px;
    margin-right: auto;
    margin-left: auto;
}

img.add{
    height: 25px;
    width: 25px;
}

.mainContain{
    width: 100%;
    height: 500px;
    
}

#dashboard{
    width: 60%;
    height: 500px;
    //background: #ECF0F1;
    display: inline-block;
}

#recents{
    width: 35%;
    height: 500px;
    //background: #E8FFFA;
    display: inline-block;
    float: right;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}
