@media (min-width: 310px) and (max-width: 480px) {

    .container{
        padding: 0 !important;
    }

    #profile_background{
        margin-top: 0;
        border-radius: 0;
    }

    #profile_contain{
        width:100%;
        height:120px;
    }

    #profile_dash{
        width: 100%;
        height: auto;
    }

    #profile-info{
        display: inline-block;
        width: 50%;
        top: 30px;
    }

    #profile_image{
        display: inline-block;
        width:100px;

    }

    .profile_edit{
        width: 100%;
        margin-left: 0;
    }

    .timeline{
        width: 100%;
        margin-top: 50px;
    }

    #user-details-mobile{
        display: inline-block;
        width: auto;
        margin-left: 20px;
    }

    .top-pad{
        padding-top: 12.5px;
        margin-left: -5px !important;
    }

    .mob-left{
        float: left;
        margin-top: 0;
    }

    img.profile{
        height: 20px;
        width: 20px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        display: block;
    }

    .card{
        width: 30%;
        height: 110px;
    }

    p{
        font-size: 10px !important;
    }

    img.user{
        width: 50px;
        height: 50px;
    }

    .contain_reg{
        display: none;
    }

    .contain{
        width: 80%;
    }

    #dashboard{
        width: 100%;
        height: auto;
        border-radius: 0;
        display: block;
    }

    #calendar{
        width: 100%;
        height: auto;
        display: block;
    }

    .profile_actions{
        display:none;
    }

    .contain_index{
        width: 100%;
        top: 0;
    }

    .contain_index_text{
        width: 100%;
        display: block;
        text-align: center;
        display:none;
    }

    .image_contain_main{
        width: 100%;
        height: 30%;
        display: block;
        float: none;
        margin: 0 auto;
    }

    .about_image{
        height: 250px;
    }

    img.home{
        height: 100%;
        width: 100%;
    }

    .about{
        width: 90%;
    }

    .about-contain{
        width: 100%;
        display: block;
    }

    .about-info-main{
        width: 100%;
    }

    img.home-2{
        width: 100%;
    }

    .margin-top-index{
        margin: 25 auto 0 auto !important;
    }

    .contain_main{
        height: 70%;
        min-height: 500px;
    }

    .mobile_welcome_sml{
        display: block;
        text-align: center;
        margin-bottom: 60px;
    }

    .mobile_welcome{
        display:  none;
    }

    .form-create-task{
        margin-left: 5%;
        margin-top: 20px;
    }

    .share-create-task{
        width: 90%;
        height: 200px;
    }

    .containTask{
        height: auto;
    }

    .friend_layout{
        width: auto;
    }

    #profile_background{
        height:auto;
    }

    .taskBoard{
        width: 100%;
    }

    .taskSideContain{
        display:none;
    }

    .mobile_task_info{
        display: block;
    }

    .taskHeader{
        margin-left: 0;
    }

    .taskViewHead{
        margin-right: 0;
        width: 100%;
    }

    .taskSideBar{
        margin-left: 0;
        height: auto;
        padding: 0 0 0 20px;
        margin-bottom: 20px;
    }

    .error-bg{
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .sideNav{
        width: 90%;
    }

    .sidenav_big{
        width: 90%;
        overflow-y:scroll;
    }

    .contain{
        margin: 0;
    }

    .sidenav-index{
        width: 90%;
    }



}


@media (min-width: 481px) and (max-width: 767px) {

    .container{
        padding: 0;
    }

    #profile_background{
        margin-top: 0;
        border-radius: 0;
    }

    #profile_contain{
        width:100%;
        height:120px;
    }

    #profile_dash{
        width: 100%;
        height: auto;
    }

    #profile-info{
        display: inline-block;
        width: 50%;
        top: 30px;
    }

    .profile_edit{
        width: 100%;
        margin-left: 0;
    }

    .timeline{
        width: 100%;
        margin-top: 50px;
    }

    #user-details-mobile{
        display: inline-block;
        width: auto;
        margin-left: 20px;
    }

    .top-pad{
        padding-top: 12.5px;
        margin-left: -5px !important;
    }

    .mob-left{
        float: left;
        margin-top: 0;
    }

    #profile_image{
        display: inline-block;
        width:100px;

    }

    img.profile{
        height: 20px;
        width: 20px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        display: block;
    }

    .card{
        width: 30%;
        height: 110px;
    }

    p{
        font-size: 10px;
    }

    img.user{
        width: 50px;
        height: 50px;
    }

    .contain_reg{
        display: none;
    }

    #dashboard{
        width: 100%;
        border-radius: 0;
        display: block;
    }

    #calendar{
        width: 100%;
        height: auto;
        display: block;
    }

    .profile_actions{
        display:none;
    }

    .contain_main{
        min-height: 750px;
    }

    .contain_index{
        width: 80%;
        top: 0;
    }

    .contain_index_text{
        width: 100%;
        display: block;
        text-align: center;
        display:none;
    }

    .mobile_welcome{
        display: block;
        text-align: center;
        margin-top: 60px;
    }

    .image_contain_main{
        width: 100%;
        display: block;
        float: none;
        margin: 0 auto;
    }

    .about_image{
        height: 250px;
    }

    img.home{
        height: 100%;
    }

    img.home-2{
        width: 300;
        height: 200;
    }

    .margin-top-index{
        margin: 25 auto 0 auto;
    }

    .form-create-task{
        margin-left: 5%;
        margin-top: 20px;
    }

    .share-create-task{
        width: 90%;
        height: 200px;
    }

    .containTask{
        height: auto;
    }


    .friend_layout{
        width: auto;
    }


    #profile_background{
        height:auto;
    }

    .taskBoard{
        width: 100%;
    }

    .taskSideContain{
        display:none;
    }

    .mobile_task_info{
        display: block;
    }

    .taskHeader{
        margin-left: 0;
    }

    .taskViewHead{
        margin-right: 0;
        width: 100%;
    }
    
    .taskSideBar{
        margin-left: 0;
        height: auto;
        padding: 0 0 0 20px;
        margin-bottom: 20px;
    }

    .error-bg{
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .sideNav{
        width: 90%;
    }

    .sidenav_big{
        width: 90%;
        overflow-y:scroll;
    }

    .sidenav-index{
        width: 80%;
    }


}

@media (min-width: 768px) and (max-width: 1250px) {

    .contain_index{
        width: 100%;
    }

    img.home{
        height: 100%;
    }
    
    #dashboard{
        width: 30%;
    }

    #calendar{
        width: 50%;
    }

    #profile_background{
        height:auto;
    }

    img.profile{
        height: 20px;
        width: 20px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        display: block;
    }

    .share-create-task{
        margin-right: 0%;
    }

    .containTask{
        height: auto;
    }

    .card{
        width: 30%;
        height: 110px;
    }

    .profile_edit{
        width: 50%;
        margin-left: 25%;
    }

    .timeline{
        width: 50%;
        margin-top: 50px;
        margin-left: 25%;
    }

    .taskBoard{
        width: 100%;
    }

    .about_image{
        height: 350px;
    }

    .taskSideContain{
        display:none;
    }

    .mobile_task_info{
        display: block;
    }

    .taskHeader{
        width: none;
        margin-left: 0;
    }

    .taskViewHead{
        margin-right: 0;
        width: 100%;
    }

    .taskSideBar{
        margin-left: 0;
        height: auto;
        padding: 0 0 0 20px;
        margin-bottom: 20px;
    }

    .error-bg{
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .sideNav{
        width: 90%;
    }

    .sidenav_big{
        width: 90%;
        overflow-y:scroll;
    }

    .form-create-task{
        margin-left: 5%;
        margin-top: 20px;
    }


    
  
}

@media (min-width: 1800px) and (max-width: 2560px) {

    #dashboard{
        height: 650px;
    }

}


